$color : black;
$color1 : white;
$color2 : #ff5924;
$font1: 'Poppins', sans-serif;
$font2: 'Raleway', sans-serif;

.card-container{
    width: 100%;
    height: auto;
    padding: 50px 0px;
    // left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .card-contents{
        width: 80%;
        // margin: 50px 50px;
        display: grid;
        padding: 70px 0px;
    }
    .con-contents{
        background: $color1;
        padding: 50px 50px;
        margin: 10px 0px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        // height: 252px;
        i{
            font-size: 5rem;
        }
        h3{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.8rem;
        }
    }
}
.letter-container{
h1{
    line-height: 20rem;
    // font-weight: bolder;
    letter-spacing: -3px;
}
}
//  /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .card-contents{
        grid-template-columns: 1fr;
    }
    .letter-container{
        padding: 20px 5px;
        h1{
            font-family: $font1;
            line-height: 10rem;
            letter-spacing: -1px;
            font-size: 6rem;
            color: $color1;
            padding-left: 8px;
        }
    }
 }

//  /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .card-contents{
        grid-template-columns: 1fr;
    }
    .letter-container{
        padding: 20px 5px;
        h1{
            font-family: $font1;
            font-size: 10rem;
            color: $color1;
            padding-left: 20px;
        }
    }
 }
 
//  /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .card-contents{
        grid-template-columns: 1fr 1fr;
    }
    .letter-container{
        padding: 20px 5px;
        h1{
            font-family: $font1;
            font-size: 11rem;
            color: $color1;
            padding-left: 20px;
        }
    }
 }
 
//  /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .card-contents{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .letter-container{
        padding: 20px 5px;
        h1{
            font-family: $font1;
            font-size: 13rem;
            color: $color1;
            padding-left: 20px;
        }
    }
 }
 
//  /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .card-contents{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .letter-container{
        padding: 20px 5px;
        h1{
            font-family: $font1;
            font-size: 20rem;
            color: $color1;
            padding-left: 20px;
        }
    }
 } 